# Stay at 6.7.0 due to a macOS bug in 6.7.1 and 6.7.2, which says "No QtMultimedia backends found".
# 6.7.3 has another regression.
# PySide6==6.8.1
PySide6==6.7.0
semantic-version
cryptography
keyring