name: Tests and checks

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  checks: write

jobs:
  run-tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Create Virtual Environment
        run: |
          python3 -m venv venv
          source venv/bin/activate
      - name: Install dependencies
        run: |
          pip install -r requirements-test.txt
      - name: Generate resources
        run: |
          ./generate-resources.sh
      - name: Run unit tests for fk.core
        run: |
          PYTHONPATH=src coverage run -m xmlrunner -o test-results discover -v fk.tests
      - name: Publish test report
        uses: mikepenz/action-junit-report@v4
        with:
          report_paths: 'test-results/TEST-*.xml'
          include_passed: true
      - name: Upload code coverage to coveralls.io
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Trigger e2e tests (external)
        run: |
          curl --version
  remote-pipeline:
    runs-on: ubuntu-22.04
    # needs: run-tests
    steps:
      - name: Trigger remote job
        env:
          REMOTE_URL: ${{ secrets.REMOTE_URL }}
          REMOTE_USER_TOKEN: ${{ secrets.REMOTE_USER_TOKEN }}
          REMOTE_JOB_TOKEN: ${{ secrets.REMOTE_MAIN_JOB_TOKEN }}
        run: |
          curl -I -u "github-trigger:$REMOTE_USER_TOKEN" "$REMOTE_URL/job/gh-main/build?token=$REMOTE_JOB_TOKEN" 2>/dev/null > /dev/null
