[Desktop Entry]
Name=Flowkeeper
Comment=Pomodoro Technique desktop timer for power users
Exec=/usr/bin/flowkeeper $FK_AUTOSTART_ARGS
Icon=/usr/share/icons/hicolor/512x512/flowkeeper/flowkeeper
Terminal=false
Type=Application
Categories=Utility;
